<div id="header-container">
  <div id="logo-container">
    <img
      src="../../assets/images/halalin-logo.png"
      alt="Halalin"
      width="150px"
    />
  </div>
  <div id="responsive-dropdown-container">
    <div onclick="toggleDropdown()" id="responsive-dropdown">
      <img
        src="../../assets/images/dropdown.png"
        alt=""
        width="25px"
        height="25px"
      />
    </div>
  </div>
  <div id="nav-container">
    <p class="close-nav" onclick="toggleDropdown()">x</p>
    <div class="navbar-items">
      <nav>
        <a id="beranda-navbar" href="../pages/dashboard.html">Beranda</a>
        <a id="artikel-navbar" href="../pages/artikel.html">Artikel</a>
        <a id="pelatihan-navbar" href="../pages/pelatihan.html">Pelatihan</a>
        <a id="konsultasi-navbar" href="../pages/konsultasi.html">Chat</a>
      </nav>
      <a
        href="../pages/biodata.html"
        title="Lihat Profil"
        class="user-container"
      >
        <div class="user-image">
          <img
            src="../../assets/images/user.png"
            alt="user"
            style="border-radius: 50%"
          />
        </div>
        <div class="user-name-container">
          <p class="profile-name">Muhammad Fikri</p>
          <p>Lihat Profil</p>
        </div>
      </a>
    </div>
  </div>
</div>
