<h1 id="title-pelatihan">Sub Bab 1</h1>
<p>
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi consequatur
	rem consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque
	aliquam assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
	Eos, repellendus esse nisi consequatur rem consectetur facere, ipsum earum voluptas, porro minus
	veritatis excepturi expedita eaque aliquam assumenda! Cum, ducimus est! Lorem
</p>
<img src="../../assets/images/manfaatpernikahan.jpg" alt="" />
<p>
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi consequatur
	rem consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque
	aliquam assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet consectetur adipisicing elit
</p>
<p>
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi consequatur
	rem consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque
	aliquam assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
	Eos, repellendus esse nisi consequatur rem consectetur facere, ipsum earum voluptas, porro minus
	veritatis excepturi expedita eaque aliquam assumenda! Cum, ducimus est! Lorem ipsum dolor sit,
	amet consectetur adipisicing elit. Eos, repellendus esse nisi consequatur rem
</p>
