<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Dashboard</title>
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="../views/pages/artikel.html">Artikel</a></li>
            <li><a href="../views/pages/layanan.html">Layanan</a></li>
            <li><a href="#">Kontak</a></li>
        </ul>
    </nav>
    <h1>Hello world</h1>
    <footer>
        <p>Hak Cipta © 2024 Halalin</p>
    </footer>
    <script type="text/javascript" src="../assets/js/script.js"></script>
  </body>
</html>
