@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: Nunito;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
header {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #fff4f6;
	position: absolute;
}
#header-container {
	width: 92%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.1rem 1rem;
	flex-wrap: wrap;
}
@media screen and (max-width: 610px) {
	#header-container {
		justify-content: center;
	}
}

nav {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 45px;
}
nav a {
	text-decoration: none;
	color: #bfbfbf;
	font-family: Nunito;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 1rem 0;
}
nav .unselected:hover {
	color: #4b5c98;
	transition: 0.3s;
}
.button {
	border-radius: 100px;
	background: #4b5c98;
	padding: 0.1rem 1.2rem;
	font-family: Nunito;
	color: #fff;
	font-family: Nunito;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: #eddeb7 1px solid;
	cursor: pointer;
}
.button:hover {
	background: #6e7ba9;
	transition: 0.3s;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(180deg, rgba(227, 228, 228, 0.33) 0%, #fff4f6 100%);
	width: 100%;
	gap: 10rem;
}
#promotion-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-image: url(../images/halalin-bg.png);
	width: 100%;
	height: 696px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: lighten;
}
#promotion-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	flex-direction: column;
	text-align: center;
	margin: 0 2rem;
}
.about-halalin-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #4b5c98;
	font-family: Nunito;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
	width: 85%;
	gap: 2rem;
}
.items-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}
.item-box {
	width: 342.382px;
	height: 323px;
	border-radius: 15px;
	background: linear-gradient(97deg, #e3e3e3 2.97%, #eddeb7 120.26%);
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFF4F6;
}

.wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #FFF4F6;
    box-shadow: 13px 13px 20px #cbced1,
    -5px 1px 20px #cbced1;
    width: 400px;
    height: auto;
    text-align: center;
    gap: 25px;
  }

  .wrapper img{
    width: 50%;
    margin-right: 20px;
    margin-top: 20px;
  }

  .wrapper h1{
    color: #272727;
    font-size: 30px;
  }

  .field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 20px;
  }

  .field input {
    font-size: 18px;
    color: #555;
    width: 100%;
    padding: 15px 40px 15px 45px; /* Tambahkan padding untuk memberikan ruang antara ikon dan tulisan */
    font-size: 1.1em;
    border-radius: 30px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
  }

  .field .username,
.field .password {
    position: relative;
    display: flex;
    align-items: center;
    width: 85%; /* Lebar input */
}

.field input {
    font-size: 18px;
    color: #555;
    width: 100%;
    padding: 15px 40px 15px 45px; /* Tambahkan padding untuk memberikan ruang antara ikon dan tulisan */
    font-size: 1.1em;
    border-radius: 30px;
    border: none;
    background-color: #f0f0f0;
    box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
}

.field svg {
    position: absolute;
    left: 15px; /* Penyesuaian posisi ikon */
    height: 20px;
    fill: #555;
}

 .login-btn{
    margin-top: 15px;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 85%;
    height: auto;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #FFF4F6;
    text-align: center;
    background-color: #4B5C98;
    box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;
    transition: all 0.5s;
  }

  button:hover{
    background-color: #001b3f;
    color: #fff;
  }

  .hasil span {
    color: #4B5C98;
    cursor: pointer; 
    font-weight: 700;
}

footer {
	height: 408px;
	width: 100%;
	background-color: #dcd6d7;
}
