@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: Nunito;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 0.5s forwards;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  position: relative;
}
#header-container {
  width: 92%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  flex-wrap: wrap;
}
@media screen and (max-width: 790px) {
  #header-container {
    justify-content: center;
    height: 140px;
  }
}

nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
nav a {
  text-decoration: none;
  color: #bfbfbf;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem 0;
}
nav .unselected:hover {
  color: #4b5c98;
  transition: 0.3s;
}
nav .selected {
  font-weight: 700;
  color: #4b5c98;
}

.button {
  border-radius: 100px;
  background: #4b5c98;
  padding: 0.4rem 1.2rem;
  font-family: Nunito;
  color: #fff;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: #eddeb7 1px solid;
  cursor: pointer;
}
.button:hover {
  background: #6e7ba9;
  transition: 0.3s;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(227, 228, 228, 0.33) 0%,
    #fff4f6 100%
  );
  width: 100%;
  gap: 10rem;
}
#promotion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../images/halalin-bg.png);
  width: 100%;
  height: 696px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}
#promotion-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  flex-direction: column;
  text-align: center;
  margin: 0 2rem;
}
.about-halalin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4b5c98;
  font-family: Nunito;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  width: 85%;
  gap: 2rem;
}
#about-halalin {
  width: 70%;
  height: 70%;
  margin-top: -60px;
}
.items-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.item-box {
  width: 342.382px;
  height: 323px;
  border-radius: 15px;
  background: linear-gradient(97deg, #e3e3e3 2.97%, #eddeb7 120.26%);
}
.item-box-layanan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 252.382px;
  height: 233px;
  font-size: 15px;
  border-radius: 15px;
  background: linear-gradient(97deg, #e3e3e3 2.97%, #eddeb7 120.26%);
}
.layanan-text {
  width: 80%;
  font-weight: 800;
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.layanan-text h3 {
  font-weight: 800;
  font-size: 18px;
  color: #052958;
}
.layanan-text hr {
  width: 60%;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff4f6;
}

.wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 13px 13px 20px #cbced1, -5px 1px 20px #cbced1;
  width: 400px;
  height: auto;
  text-align: center;
  gap: 25px;
}

.wrapper img {
  width: 50%;
  margin-right: 20px;
  margin-top: 20px;
}

.wrapper h1 {
  color: #272727;
  font-size: 30px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 20px;
}

.field input {
  font-size: 18px;
  color: #555;
  width: 100%;
  padding: 15px 40px 15px 45px; /* Tambahkan padding untuk memberikan ruang antara ikon dan tulisan */
  font-size: 1.1em;
  border-radius: 30px;
  border: none;
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
}

.field .username,
.field .password {
  position: relative;
  display: flex;
  align-items: center;
  width: 85%; /* Lebar input */
}

.field input {
  font-size: 18px;
  color: #555;
  width: 100%;
  padding: 15px 40px 15px 45px; /* Tambahkan padding untuk memberikan ruang antara ikon dan tulisan */
  font-size: 1.1em;
  border-radius: 30px;
  border: none;
  background-color: #f0f0f0;
  box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
}

.field svg {
  position: absolute;
  left: 15px; /* Penyesuaian posisi ikon */
  height: 20px;
  fill: #555;
}

.login-btn {
  margin-top: 15px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 85%;
  height: auto;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff4f6;
  text-align: center;
  background-color: #4b5c98;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.5s;
}

button:hover {
  background-color: #001b3f;
  color: #fff;
}

.hasil span {
  color: #4b5c98;
  cursor: pointer;
  font-weight: 700;
}

/*REGISTER*/
.wrapper-register {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 13px 13px 20px #cbced1, -5px 1px 20px #cbced1;
  width: 800px;
  height: auto;
  text-align: center;
  gap: 15px;
}
#register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff4f6;
}
.wrapper-register h1 {
  color: #272727;
  font-size: 28px;
}

.field-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  gap: 10px;
}

.field-register input {
  text-align: left;
  font-size: 15px;
  width: 100%;
  padding: 15px 40px 15px 45px;
  margin-right: 50px;
  border: none;
  border-bottom: 0.5px solid black;
  background-color: white;
}

.field-register input::placeholder {
  color: #4b5c98;
}

.field-register * {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%; /* Lebar input */
}
#input {
  width: 100%;
  padding: 10px;
  margin-right: 50px;
  border: none;
  border-bottom: 0.5px solid black;
  background-color: white;
  text-align: left;
}
.field-register svg {
  position: absolute;
  left: 10px; /* Penyesuaian posisi ikon */
  height: 10px;
  fill: #555;
}

.daftar-btn {
  margin-top: 15px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 20%;
  height: auto;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff4f6;
  text-align: center;
  background-color: #4b5c98;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.5s;
}
/*REGISTER*/

/* Article Pages */
.artikel-container {
  display: flex;
  text-align: justify;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 5px;
}
.artikel-container .artikel-box {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -5px 1px 20px #cbced1;
  width: 100%;
  height: auto;
  gap: 25px;
}
.artikel-container .artikel-box article {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}
.artikel-container .artikel-box article a {
  text-decoration: none;
  width: fit-content;
  align-self: flex-end;
}
.artikel-container .artikel-box article p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* tambahkan efek fading */
  /* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

.artikel-container #navigator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
.artikel-container #navigator a {
  background-color: #4b5c98;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 8px;
}
.artikel-container #navigator a:hover {
  background-color: #001b3f;
}
.artikel-container #navigator a.selected {
  background-color: #001b3f;
}
/* Article Pages */

/* Footer */
.footer {
  background-color: #dcd6d7;
  padding: 30px 0px;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 0.5% 0%;
  padding: 0.1% 0%;
  color: gray;
  font-size: 15px;
}

.footer .row a {
  text-decoration: none;
  font-weight: thick;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #000;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 15px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

/* Konten Artikel */
#content-article {
  background-color: #e3e3e3;
}

.header-content-article {
  background-color: #fff;
  height: 20%;
  text-align: center;
  padding: 20px 0;
}

.back-button {
  background-color: #4b5c98;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  /* top: 50%;
    transform: translateY(-50%); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #6e7ba9;
  transition: 0.3s;
}

.article-content {
  width: 80%;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1-article,
.h2-article {
  color: #333;
}

.footer-article {
  margin-top: 20px;
}

.footer-article a {
  color: #333;
  text-decoration: none;
}

.footer-article a:hover {
  text-decoration: underline;
}

/* CSS PELATIHAN */
.box {
  display: flex;
  flex: 1;
}

.side-soal {
  padding: 20px;
  margin: 1px;
  flex: 0 0 260px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.number-box {
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 5px;
  border: 2px solid #4b5c98;
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  background-color: #fff;
  color: #4b5c98;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 3px 6px rgba(107, 107, 107, 0.274); /* Box shadow dengan warna biru */
}

.number-box.selected {
  background-color: #4b5c98;
  color: #fff;
  border-color: #4b5c98;
}

.wrapper-soal {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px;
}

.soal {
  flex: 1;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  color: #4b4b4b;
  background-color: #fff;
  font-size: 16px;
}

.choice {
  display: flex;
  padding-left: 20px;
  margin: 0 0;
  width: 100%;
  font-size: 1.3rem;
  background-color: white;
}

.choice-prefix {
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 5px;
  color: #4b5c98;
  font-weight: 700;
  border: 2px solid #4b5c98; /* Border biru */
  box-shadow: 5px 5px 10px rgba(107, 107, 107, 0.274); /* Box shadow dengan warna biru */
  cursor: pointer;
}

.choice-prefix.clicked {
  background-color: #4b5c98;
  color: #fff;
}

.choice-text {
  padding: 20px;
  cursor: pointer;
}
