@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: Nunito;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
header {
	display: flex;
	justify-content: center;
	width: 100%;
	background: #ffffff;
	position: relative;
}
#header-container {
	width: 92%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	flex-wrap: wrap;
}
@media screen and (max-width: 790px) {
	#header-container {
		justify-content: center;
		height: 140px;
	}
}

nav {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 45px;
}
nav a {
	text-decoration: none;
	color: #bfbfbf;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 1rem 0;
}
nav .unselected:hover {
	color: #4b5c98;
	transition: 0.3s;
}
.button {
	border-radius: 100px;
	background: #4b5c98;
	padding: 0.4rem 1.2rem;
	font-family: Nunito;
	color: #fff;
	font-family: Nunito;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: #eddeb7 1px solid;
	cursor: pointer;
}
.button:hover {
	background: #6e7ba9;
	transition: 0.3s;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(180deg, rgba(227, 228, 228, 0.33) 0%, #fff4f6 100%);
	width: 100%;
	gap: 10rem;
}
#promotion-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-image: url(../images/halalin-bg.png);
	width: 100%;
	height: 696px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: lighten;
}
#promotion-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	flex-direction: column;
	text-align: center;
	margin: 0 2rem;
}
.about-halalin-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #4b5c98;
	font-family: Nunito;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
	width: 85%;
	gap: 2rem;
}
#about-halalin {
	width: 70%;
	height: 70%;
	margin-top: -60px;
}
.items-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}
.item-box {
	width: 342.382px;
	height: 323px;
	border-radius: 15px;
	background: linear-gradient(97deg, #e3e3e3 2.97%, #eddeb7 120.26%);
}
.item-box-layanan {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 252.382px;
	height: 233px;
	font-size: 15px;
	border-radius: 15px;
	background: linear-gradient(97deg, #e3e3e3 2.97%, #eddeb7 120.26%);
}
.layanan-text {
	width: 80%;
	font-weight: 800;
	font-size: 15px;
	font-weight: 500;
	color: black;
}
.layanan-text h3 {
	font-weight: 800;
	font-size: 18px;
	color: #052958;
}
.layanan-text hr {
	width: 60%;
}

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #fff4f6;
}

.wrapper {
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 13px 13px 20px #cbced1, -5px 1px 20px #cbced1;
	width: 400px;
	height: auto;
	text-align: center;
	gap: 25px;
}

.wrapper img {
	width: 50%;
	margin-right: 20px;
	margin-top: 20px;
}

.wrapper h1 {
	color: #272727;
	font-size: 30px;
}

.field {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: auto;
	gap: 20px;
}

.field input {
	font-size: 18px;
	color: #555;
	width: 100%;
	padding: 15px 40px 15px 45px; /* Tambahkan padding untuk memberikan ruang antara ikon dan tulisan */
	font-size: 1.1em;
	border-radius: 30px;
	border: none;
	background-color: #f0f0f0;
	box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
}

.field .username,
.field .password {
	position: relative;
	display: flex;
	align-items: center;
	width: 85%; /* Lebar input */
}

.field input {
	font-size: 18px;
	color: #555;
	width: 100%;
	padding: 15px 40px 15px 45px; /* Tambahkan padding untuk memberikan ruang antara ikon dan tulisan */
	font-size: 1.1em;
	border-radius: 30px;
	border: none;
	background-color: #f0f0f0;
	box-shadow: inset 5px 5px 5px #cbced1, inset -5px -5px 5px #fff;
}

.field svg {
	position: absolute;
	left: 15px; /* Penyesuaian posisi ikon */
	height: 20px;
	fill: #555;
}

.login-btn {
	margin-top: 15px;
	padding: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	width: 85%;
	height: auto;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 700;
	color: #fff4f6;
	text-align: center;
	background-color: #4b5c98;
	box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
	transition: all 0.5s;
}

button:hover {
	background-color: #001b3f;
	color: #fff;
}

.hasil span {
	color: #4b5c98;
	cursor: pointer;
	font-weight: 700;
}

/*REGISTER*/
.wrapper-register {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
    background-color: white;
    box-shadow: 13px 13px 20px #cbced1,
    -5px 1px 20px #cbced1;
    width: 900px;
    height: auto;
    text-align: center;
    gap: 25px;
  }

  .wrapper-register h1{
    color: #272727;
    font-size: 30px;
  }

  .field-register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 20px;
  }

.field-register input{
	text-align: left;
	font-size: 18px;
	width: 100%;
	padding: 15px 40px 15px 45px;
	margin-right: 50px;
	border: none;
	border-bottom: 0.5px solid black;
	background-color: white;
  }

.field-register input::placeholder {
    color: #4B5C98;
}

.field-register *{
    position: relative;
    display: flex;
    align-items: center;
    width: 85%; /* Lebar input */
}

.field-register svg {
    position: absolute;
    left: 15px; /* Penyesuaian posisi ikon */
    height: 20px;
    fill: #555;
}

.daftar-btn{
	margin-top: 15px;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 20%;
    height: auto;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #FFF4F6;
    text-align: center;
    background-color: #4B5C98;
    box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;
    transition: all 0.5s;
  }
/*REGISTER*/

footer {
	height: 408px;
	width: 100%;
	background-color: #dcd6d7;
}

/* Article Pages */
.artikel-container {
	display: flex;
	text-align: justify;
	flex-direction: column;
	width: 90%;
	margin: auto;
	gap: 5px;
}
.artikel-container .artikel-box {
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 13px 13px 20px #cbced1, -5px 1px 20px #cbced1;
	width: 100%;
	height: auto;
	gap: 25px;
}
.artikel-container .artikel-box article {
	display: flex;
	flex-direction: column;
	background-color: #e3e3e3;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
}
.artikel-container .artikel-box article a {
	text-decoration: none;
	width: fit-content;
	align-self: flex-end;
}
.artikel-container .artikel-box article p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	/* tambahkan efek fading */
	/* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

.artikel-container #navigator {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 20px 0;
}
.artikel-container #navigator a {
	background-color: #4b5c98;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 8px;
}
.artikel-container #navigator a:hover {
	background-color: #001b3f;
}
.artikel-container #navigator a.selected {
	background-color: #001b3f;
}
/* Article Pages */
