<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Biodata</title>
		<link rel="stylesheet" href="/assets/css/style.css" />
	</head>
	<body>
		<script src="/assets/js/script.js"></script>

		<header id="navbar" class="header-effect"></header>

		<div id="biodata">
			<div class="container-bio">
				<div class="wrapper-bio">
					<div class="side-bio">
						<div class="sidebar-bio">
							<a href="#" class="selected">Profil</a>
							<a href="#" class="unselected">Gambaran Fisik</a>
							<a href="#" class="unselected">Gambaran Diri</a>
							<a href="#" class="unselected">Gambaran Keluarga</a>
							<a href="#" class="unselected">Pendidikan</a>
							<a href="#" class="unselected">Pengalaman</a>
							<a href="#" class="unselected">Ibadah</a>
							<a href="#" class="unselected">Kriteria Fisik</a>
							<a href="#" class="unselected">Kriteria Non Fisik</a>
						</div>
					</div>
					<div class="form-bio">
						<h1>Biodata</h1>
						<div class="field-bio">
							<div class="foto">
								<p>Foto</p>
								<input type="file" class="foto-input" accept=".pdf, .png, .jpg, .jpeg" />
							</div>
							<div class="username">
								<p>Username</p>
								<input
									type="username"
									class="namalengkap-input"
									placeholder="Masukkan nama lengkap" />
							</div>
							<div class="namalengkap">
								<p>Nomor Telepon</p>
								<input type="username" class="namalengkap-input" placeholder="Nama lengkap" />
							</div>
							<div class="namalengkap">
								<p>Tempat Lahir</p>
								<input type="username" class="namalengkap-input" placeholder="Nama lengkap" />
							</div>
							<div class="namalengkap">
								<p>Tanggal Lahir</p>
								<input type="date" class="namalengkap-input" placeholder="Nama lengkap" />
							</div>
							<div class="jeniskelamin">
								<p>Jenis Kelamin</p>
								<div class="pilihanjeniskelamin">
									<div class="pilihan-radio">
										<input type="radio" id="laki-laki" name="jenis_kelamin" value="Laki-laki" />
										<div class="icon-radio">
											<ion-icon name="man"></ion-icon>
											<label for="laki-laki">Laki-laki</label>
										</div>
									</div>
									<div class="pilihan-radio">
										<input type="radio" id="perempuan" name="jenis_kelamin" value="Perempuan" />
										<div class="icon-radio">
											<ion-icon name="woman"></ion-icon>
											<label for="perempuan">Perempuan</label>
										</div>
									</div>
								</div>
							</div>
							<div class="namalengkap">
								<p>Status</p>
								<input type="username" class="namalengkap-input" placeholder="Nama lengkap" />
							</div>
							<div class="namalengkap">
								<p>Suku</p>
								<input type="username" class="namalengkap-input" placeholder="Nama lengkap" />
							</div>
						</div>
						<button class="simpan-btn">Simpan</button>
					</div>
				</div>
			</div>
		</div>
		<!----Icon Jenis Kelamin--->
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>
