<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Biodata</title>
		<link rel="stylesheet" href="../../assets/css/style.css" />
	</head>
	<body>
		<script src="/assets/js/script.js"></script>

		<header id="navbar" class="header-effect"></header>

		<div id="biodata">
			<div class="container-bio">
				<div class="wrapper-bio">
					<div class="side-bio">
						<div class="sidebar-bio">
							<a href="#" class="selected" id="profil" onclick="showForm('profil')">Profil</a>
							<a href="#" class="unselected" id="gambaran-fisik" onclick="showForm('gambaran-fisik')">Gambaran Fisik</a>
							<a href="#" class="unselected" id="gambaran-diri" onclick="showForm('gambaran-diri')">Gambaran Diri</a>
							<a href="#" class="unselected" id="gambaran-keluarga" onclick="showForm('gambaran-keluarga')">Gambaran Keluarga</a>
							<a href="#" class="unselected" id="pendidikan" onclick="showForm('pendidikan')">Pendidikan</a>
							<a href="#" class="unselected" id="pengalaman" onclick="showForm('pengalaman')">Pengalaman</a>
							<a href="#" class="unselected" id="ibadah" onclick="showForm('ibadah')">Ibadah</a>
						</div>
					</div>
					
					<div class="form-bio" id="profil-form">
						<h1>Biodata</h1>
						<div class="field-bio">
							<div class="foto">
								<p>Foto</p>
								<div class="profile-foto">
									<div class="pilihfoto">
										<img src="/assets/images/defaultpic.png" id="profilepic">
										<div>
										<label for="input-foto">Upload image</label>
										<input type="file" accept="image/jpeg, image/png, image/jpg" id="input-foto"></div>
									</div>
								</div>
							</div>
							<div class="username">
								<p>Username</p>
								<input
									type="username"
									class="namalengkap-input"
									placeholder="Masukkan nama lengkap" />
							</div>
							<div class="nomortelepon">
								<p>Nomor Telepon</p>
								<input type="username" class="namalengkap-input" placeholder="Masukkan nomor telepon" />
							</div>
							<div class="tempatlahir">
								<p>Tempat Lahir</p>
								<input type="username" class="namalengkap-input" placeholder="Masukkan tempat lahir" />
							</div>
							<div class="tanggallahir">
								<p>Tanggal Lahir</p>
								<input type="date" class="namalengkap-input" placeholder="Nama lengkap" />
							</div>
							<div class="jeniskelamin">
								<p>Jenis Kelamin</p>
								<div class="pilihanjeniskelamin">
									<div class="pilihan-radio">
										<input type="radio" id="laki-laki" name="jenis_kelamin" value="Laki-laki" />
										<div class="icon-radio">
											<ion-icon name="man"></ion-icon>
											<label for="laki-laki">Laki-laki</label>
										</div>
									</div>
									<div class="pilihan-radio">
										<input type="radio" id="perempuan" name="jenis_kelamin" value="Perempuan" />
										<div class="icon-radio">
											<ion-icon name="woman"></ion-icon>
											<label for="perempuan">Perempuan</label>
										</div>
									</div>
								</div>
							</div>
							<div class="status">
								<p>Status</p>
								<select class="pilihanstatus">
									<option value="-" disabled selected>--- Pilih Status Anda ---</option>
  									<option value="Belum menikah">Belum Menikah</option>
  									<option value="Janda">Cerai</option>
								</select>
							</div>
							<div class="namalengkap">
								<p>Suku</p>
								<input type="username" class="namalengkap-input" placeholder="Masukkan suku anda" />
							</div>
						</div>
						<button class="simpan-btn">Simpan</button>
					</div>

					<div class="form-bio" id="gambaran-diri-form" style="display: none;">
						<h1>Gambaran Diri</h1>
						<div class="field-bio">
							<div class="motto">
								<p>Motto Diri</p>
								<input type="username" class="motto-input" placeholder="Sebutkan motto diri anda" />
							</div>
							<div class="targethidup">
								<p>Target Hidup</p>
								<input type="username" class="targethidup-input" placeholder="Sebukan target hidup anda" />
							</div>
							<div class="hobi">
								<p>Hobi</p>
								<input type="username" class="hobi-input" placeholder="Sebutkan hobi anda" />
							</div>
							<div class="haldisukai">
								<p>Hal yang disukai</p>
								<input type="username" class="haldisukai-input" placeholder="Jelaskan hal yang disukai anda" />
							</div>
							<div class="sifatpositif">
								<p>Sifat positif</p>
								<input type="username" class="sifatpositif-input" placeholder="Jelaskan sifat positif anda" />
							</div>
							<div class="sifatnegatif">
								<p>Sifat negatif</p>
								<input type="username" class="sifatnegatif-input" placeholder="Jelaskan sifat negatif anda" />
							</div>
							<div class="alasan">
								<p>Alasan taaruf</p>
								<input type="username" class="alasan-input" placeholder="Jelaskan alasan anda taaruf" />
							</div>
						</div>
						<button class="simpan-btn">Simpan</button>
					</div>

					<div class="form-bio" id="gambaran-keluarga-form" style="display: none;">
						<h1>Gambaran Keluarga</h1>
						<div class="field-bio">
							<div class="motto">
								<p>Motto Diri</p>
								<input type="username" class="motto-input" placeholder="Masukkan motto diri anda" />
							</div>
							<div class="targethidup">
								<p>Target Hidup</p>
								<input type="username" class="targethidup-input" placeholder="Masukkan target hidup anda" />
							</div>
							<div class="hobi">
								<p>Hobi</p>
								<input type="username" class="hobi-input" placeholder="Masukkan hobi anda" />
							</div>
							<div class="haldisukai">
								<p>Hal yang disukai</p>
								<input type="username" class="haldisukai-input" placeholder="Masukkan hal yang disukai anda" />
							</div>
							<div class="sifatpositif">
								<p>Sifat positif</p>
								<input type="username" class="sifatpositif-input" placeholder="Masukkan sifat positif anda" />
							</div>
							<div class="sifatnegatif">
								<p>Sifat negatif</p>
								<input type="username" class="sifatnegatif-input" placeholder="Masukkan sifat negatif anda" />
							</div>
						</div>
						<button class="simpan-btn">Simpan</button>
					</div>

					<div class="form-bio" id="pendidikan-form" style="display: none;">
						<h1>Pendidikan</h1>
						<div class="field-bio">
							<div class="sekolahdasar">
								<p>Sekolah Dasar (SD)</p>
								<input type="username" class="sekolahdasar-input" placeholder="Dimana anda bersekolah dasar" />
							</div>
							<div class="sekolahmenengahpertama">
								<p>Sekolah Menengah Pertama (SMP)</p>
								<input type="username" class="sekolahmenengahpertama-input" placeholder="Dimana anda bersekolah menengah pertama" />
							</div>
							<div class="sekolahmenengahatas">
								<p>Sekolah Menengah Atas (SMA)</p>
								<input type="username" class="sekolahmenengahatas-input" placeholder="Dimana anda bersekolah menengah atas" />
							</div>
							<div class="perguruantinggis1">
								<p>Perguruan Tinggi (S1)</p>
								<input type="username" class="perguruantinggis1-input" placeholder="Dimana anda bersekolah perguruan tinggi" />
							</div>
							<div class="jurusan">
								<p>Jurusan</p>
								<input type="username" class="jurusans1-input" placeholder="Apa jurusan yang anda ikuti" />
							</div>
							<div class="perguruantinggis2">
								<p>Perguruan Tinggi (S2)</p>
								<input type="username" class="perguruantinggis2-input" placeholder="Dimana anda bersekolah perguruan tinggi" />
							</div>
							<div class="jurusan">
								<p>Jurusan</p>
								<input type="username" class="jurusans1-input" placeholder="Apa jurusan yang anda ikuti" />
							</div>
							<div class="perguruantinggis3">
								<p>Perguruan Tinggi (S3)</p>
								<input type="username" class="perguruantinggis3-input" placeholder="Dimana anda bersekolah perguruan tinggi" />
							</div>
							<div class="jurusan">
								<p>Jurusan</p>
								<input type="username" class="jurusans1-input" placeholder="Apa jurusan yang anda ikuti" />
							</div>
						</div>
						<button class="simpan-btn">Simpan</button>
					</div>

					<div class="form-bio" id="ibadah-form" style="display: none;">
						<h1>Ibadah</h1>
						<div class="field-bio">
							<div class="sekolahdasar">
								<p>Sekolah Dasar (SD)</p>
								<input type="username" class="sekolahdasar-input" placeholder="Dimana anda bersekolah dasar" />
							</div>
							<div class="sekolahmenengahpertama">
								<p>Sekolah Menengah Pertama (SMP)</p>
								<input type="username" class="sekolahmenengahpertama-input" placeholder="Dimana anda bersekolah menengah pertama" />
							</div>
							<div class="sekolahmenengahatas">
								<p>Sekolah Menengah Atas (SMA)</p>
								<input type="username" class="sekolahmenengahatas-input" placeholder="Dimana anda bersekolah menengah atas" />
							</div>
							<div class="perguruantinggis1">
								<p>Perguruan Tinggi (S1)</p>
								<input type="username" class="perguruantinggis1-input" placeholder="Dimana anda bersekolah perguruan tinggi" />
							</div>
							<div class="jurusan">
								<p>Jurusan</p>
								<input type="username" class="jurusans1-input" placeholder="Apa jurusan yang anda ikuti" />
							</div>
							<div class="perguruantinggis2">
								<p>Perguruan Tinggi (S2)</p>
								<input type="username" class="perguruantinggis2-input" placeholder="Dimana anda bersekolah perguruan tinggi" />
							</div>
							<div class="jurusan">
								<p>Jurusan</p>
								<input type="username" class="jurusans1-input" placeholder="Apa jurusan yang anda ikuti" />
							</div>
							<div class="perguruantinggis3">
								<p>Perguruan Tinggi (S3)</p>
								<input type="username" class="perguruantinggis3-input" placeholder="Dimana anda bersekolah perguruan tinggi" />
							</div>
							<div class="jurusan">
								<p>Jurusan</p>
								<input type="username" class="jurusans1-input" placeholder="Apa jurusan yang anda ikuti" />
							</div>
						</div>
						<button class="simpan-btn">Simpan</button>
					</div>

					<div class="form-bio" id="gambaran-fisik-form" style="display: none;">
						<h1>Gambaran Fisik</h1>
						<div class="field-bio">
							<div class="status">
								<p>Warna Kulit</p>
								<select class="pilihanstatus">
									<option value="-" disabled selected>--- Pilih Warna Kulit Anda ---</option>
  									<option value="Putih">Putih</option>
  									<option value="Putih Kemerahan">Putih Kemerahan</option>
  									<option value="Putih Kecoklatan">Putih Kecoklatan</option>
  									<option value="Coklat Sawo Matang">Coklat Sawo Matang</option>
  									<option value="Coklat Kehitaman">Coklat Kehitaman</option>
  									<option value="Gelap">Gelap</option>
								</select>
							</div>
							<div class="status">
								<p>Warna Rambut</p>
								<select class="pilihanstatus">
									<option value="-" disabled selected>--- Pilih Warna Rambut Anda ---</option>
  									<option value="Hitam">Hitam</option>
  									<option value="Coklat">Coklat</option>
  									<option value="Pirang">Pirang</option>
  									<option value="Coklat Sawo Matang">Coklat Sawo Matang</option>
  									<option value="Coklat Kehitaman">Coklat Kehitaman</option>
  									<option value="Gelap">Gelap</option>
								</select>
							</div>
							<div class="status">
								<p>Tipe Rambut</p>
								<select class="pilihanstatus">
									<option value="-" disabled selected>--- Pilih Tipe Rambut Anda ---</option>
  									<option value="Lurus">Lurus</option>
  									<option value="Bergelombang">Bergelombang</option>
  									<option value="Ikal">Ikal</option>
  									<option value="Keriting">Keriting</option>
								</select>
							</div>
							<div class="tinggibadan">
								<p>Tinggi Badan (cm)</p>
								<input
									type="number"
									class="tinggibadan-input"
									placeholder="Masukkan tinggi badan anda" />
							</div>
							<div class="tinggibadan">
								<p>Berat Badan (kg)</p>
								<input
									type="number"
									class="beratbadan-input"
									placeholder="Masukkan berat badan anda" />
							</div>
							<div class="riwayatpenyakit">
								<p>Apakah anda memiliki riwayat penyakit?</p>
								<div class="wrapperpilihanpenyakit">
									<div class="pilihanriwayatpenyakit">
										<input type="radio" name="riwayatpenyakit" value="Ya">
										<label for="html">Ya, saya memiliki riwayat penyakit</label> <br>
									</div>
									<div class="pilihanriwayatpenyakit">
										<input type="radio" id="css" name="riwayatpenyakit" value="Tidak">
										<label for="Tidak">Tidak, saya tidak memiliki riwayat penyakit</label>
									</div>
								</div>
							</div>
							<div class="hobi">
								<p>Jelaskan riwayat penyakit (jika ada)</p>
								<input
									type="username"
									class="hobi-input"
									placeholder="Jelaskan riwayat penyakit anda" />
							</div>
							<div class="cirikhas">
								<p>Apakah anda memiliki ciri khas?</p>
								<div class="wrapperpilihanpenyakit">
									<div class="pilihanriwayatpenyakit">
										<input type="radio" name="riwayatpenyakit" value="Ya">
										<label for="html">Ya, saya memiliki ciri khas</label> <br>
									</div>
									<div class="pilihanriwayatpenyakit">
										<input type="radio" id="css" name="riwayatpenyakit" value="Tidak">
										<label for="Tidak">Tidak, saya tidak memiliki ciri khas</label>
									</div>
								</div>
							</div>
							<div class="hobi">
								<p>Jelaskan ciri khas anda (jika ada)</p>
								<input
									type="username"
									class="hobi-input"
									placeholder="Jelaskan ciri khas anda"/>
							</div>
							<div class="riwayatpenyakit">
								<p>Apakah anda memiliki cacat fisik?</p>
								<div class="wrapperpilihanpenyakit">
									<div class="pilihanriwayatpenyakit">
										<input type="radio" name="riwayatpenyakit" value="Ya">
										<label for="html">Ya, saya memiliki cacat fisik</label> <br>
									</div>
									<div class="pilihanriwayatpenyakit">
										<input type="radio" id="css" name="riwayatpenyakit" value="Tidak">
										<label for="Tidak">Tidak, saya tidak memiliki cacat fisik</label>
									</div>
								</div>
							</div>
							<div class="hobi">
								<p>Jelaskan cacat fisik anda (jika ada)</p>
								<input
									type="username"
									class="hobi-input"
									placeholder="Jelaskan cacat fisik anda" />
							</div>
						<button class="simpan-btn">Simpan</button>
					</div>
			</div>
		</div>
		<!----Icon Jenis Kelamin--->
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	
		<script>
			let profilepic = document.querySelector('#profilepic');
			let inputFoto = document.querySelector('#input-foto');

			inputFoto.onchange = function(){
				profilepic.src = URL.createObjectURL(inputFoto.files[0]);
			}

			function showForm(formId) {
				// Hide all forms first
				var forms = document.getElementsByClassName('form-bio');
				for (var i = 0; i < forms.length; i++) {
					forms[i].style.display = 'none';
				}
		
				// Show the selected form
				document.getElementById(formId + '-form').style.display = 'block';
			}
		</script>
	</body>
</html>
