<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buat CV</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <header class="header-effect">
      <div id="header-container">
        <img
          src="../assets/images/halalin-logo.png"
          alt="Halalin"
          width="150px"
        />
        <nav>
          <a href="#" style="font-weight: 700; color: #4b5c98">Beranda</a>
          <a href="#" class="unselected">Artikel</a>
          <a href="#" class="unselected">Pelatihan</a>
          <a href="#" class="unselected">Konsultasi</a>
          
        </nav>
      </div>
    </header>
  </body>
</html>
