body#pelatihan {
	max-height: calc(100% - 138px);
}

main#main-pelatihan {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	background-color: white;
}

aside#sidebar-pelatihan {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 20%;
	padding: 10px 30px;
	background-color: white;
	border: 1px solid #d6d6d6;
	gap: 1rem;
}
.percentage {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.percentage-line {
	width: 100%;
	background-color: white;
	border-radius: 5px;
}
.percentage-line::after {
	width: 80%;
	content: "";
	height: 5px;
	background-color: #4b5c98;
	display: block;
	border-radius: 5px;
}
.percentage-text {
	font-size: 13px;
	text-align: right;
	margin: 0;
}
#list-bab {
	display: flex;
	flex-direction: column;
}
.bab-dropdown {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;
}
.bab-dropdown h2 {
	margin: 0;
}
.bab-container li {
	list-style-image: url("../../assets/images/list-undone.svg");
	margin: 8px;
	margin-left: 10px;
}
.bab-container li.list-done {
	list-style-image: url("../../assets/images/list-done.svg");
}
#content-pelatihan {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
	padding: 10px 30px;
	padding-top: 17px;
	background-color: white;
	border: 1px solid #d6d6d6;
	gap: 1rem;
	text-align: justify;
}
#content-pelatihan h1 {
	margin: 3px;
}
#content-pelatihan p {
	margin: 3px;
}
#content-pelatihan img {
	width: 100%;
	height: 80%;
	border-radius: 10px;
	margin: 10px auto;
}
footer#pelatihan-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
}
.fledir-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.8rem;
}
