.box {
	display: flex;
	width: 100%;
	justify-content: center;
}

.side-soal {
	padding: 20px;
	margin: 2px;
	flex: 0 0 260px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#number-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding-inline: 25px;
}
.number-box {
	width: 45px;
	height: 45px;
	line-height: 45px;
	margin: 5px;
	border: 2px solid #4b5c98;
	border-radius: 5px;
	display: inline-block;
	font-size: 18px;
	background-color: #fff;
	color: #4b5c98;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 4px 3px 6px rgba(107, 107, 107, 0.274); /* Box shadow dengan warna biru */
}

.number-box.selected {
	background-color: #4b5c98;
	color: #fff;
	border-color: #4b5c98;
}

.wrapper-soal {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 20px;
	width: 80%;
}

.soal {
	flex: 1;
	padding: 5px 30px 20px 30px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 5px;
	color: #4b4b4b;
	background-color: #fff;
	font-size: 16px;
}
.choice-container {
	display: flex;
	flex-direction: column;
}
.choice {
	display: flex;
	padding-left: 20px;
	margin: 0 0;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.671);
}

.choice-prefix {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	background-color: #fff;
	border-radius: 5px;
	color: #4b5c98;
	font-weight: 600;
	border: 1px solid #d6d6d6;
	box-shadow: 5px 5px 10px rgba(107, 107, 107, 0.274);
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}

.choice-prefix:hover{
	border: 1px solid #4b5c98;
	background-color: #fff;
	color: #4b5c98;
  }

.choice-prefix.clicked {
	background-color: #4b5c98;
	color: #fff;
}

.choice-text {
	display: flex;
	align-items: center;
	padding-left: 20px;
	cursor: pointer;
}

.next-button {
	float: right;
    margin-left: auto;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #4B5C98;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.prev-button {
    margin-left: auto;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #4B5C98;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#side-soal-container {
	display: flex;
	z-index: 999;
	gap: 0;
	width: 20%;
}

#open-soal {
	display: none;
	align-self: center;
	padding: 20px 10px;
	background-color: #ffffff;
	margin-left: -7px;
	border-radius: 0 50px 50px 0;
	cursor: pointer;
}

@media screen and (max-width: 790px) {
	#side-soal-container {
		position: fixed;
		top: 0;
		left: -260px;
		z-index: 9999;
		height: 100%;
	}
	#open-soal {
		display: flex;
	}
}
