<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../assets/css/style.css" />
		<link rel="stylesheet" href="pelatihan.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
		<title>Pelatihan</title>
	</head>
	<body id="pelatihan">
		<header id="navbar" class="header-effect"></header>
		<main id="main-pelatihan">
			<aside id="sidebar-pelatihan">
				<div>
					<h2>Daftar Pelatihan</h2>
				</div>
				<div class="percentage">
					<hr class="percentage-line" />
					<p class="percentage-text">80% selesai</p>
				</div>
				<div id="list-bab">
					<div class="bab-container">
						<div class="bab-dropdown">
							<div class="fa fa-chevron-down"></div>
							<h2>Bab 1</h2>
						</div>
						<ul>
							<li class="list-done">Sub bab 1</li>
							<li class="list-done">Sub bab 2</li>
							<li class="list-done">Sub bab 3</li>
						</ul>
					</div>
					<div class="bab-container">
						<div class="bab-dropdown">
							<div class="fa fa-chevron-down"></div>
							<h2>Bab 2</h2>
						</div>
						<ul>
							<li class="list-done">Sub bab 1</li>
							<li class="list-done">Sub bab 2</li>
							<li class="">Sub bab 3</li>
						</ul>
					</div>
					<div class="bab-container">
						<div class="bab-dropdown">
							<div class="fa fa-chevron-down"></div>
							<h2>Bab 3</h2>
						</div>
						<ul>
							<li class="">Sub bab 1</li>
							<li class="">Sub bab 2</li>
							<li class="">Sub bab 3</li>
						</ul>
					</div>
					<div class="bab-container">
						<div class="bab-dropdown">
							<div class="fa fa-chevron-down"></div>
							<h2>Bab 4</h2>
						</div>
						<ul>
							<li class="">Sub bab 1</li>
							<li class="">Sub bab 2</li>
							<li class="">Sub bab 3</li>
						</ul>
					</div>
				</div>
			</aside>
			<div id="content-pelatihan">
				<h1>Sub bab 1</h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi
					consequatur rem consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi
					expedita eaque aliquam assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet
					consectetur adipisicing elit. Eos, repellendus esse nisi consequatur rem consectetur
					facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque aliquam
					assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Eos, repellendus esse nisi consequatur rem consectetur facere, ipsum earum voluptas, porro
					minus veritatis excepturi expedita eaque aliquam assumenda! Cum, ducimus est! Lorem ipsum
					dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi consequatur rem
					consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque
					aliquam assumenda! Cum, ducimus est!
				</p>
				<img src="../../assets/images/manfaatpernikahan.jpg" alt="" />
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi
					consequatur rem consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi
					expedita eaque aliquam assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet
					consectetur adipisicing elit. Eos, repellendus esse nisi consequatur rem consectetur
					facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque aliquam
					assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Eos, repellendus esse nisi consequatur rem consectetur facere, ipsum earum voluptas, porro
					minus veritatis excepturi expedita eaque aliquam assumenda! Cum, ducimus est! Lorem ipsum
					dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi consequatur rem
					consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque
					aliquam assumenda! Cum, ducimus est!
				</p>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi
					consequatur rem consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi
					expedita eaque aliquam assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet
					consectetur adipisicing elit. Eos, repellendus esse nisi consequatur rem consectetur
					facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque aliquam
					assumenda! Cum, ducimus est! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Eos, repellendus esse nisi consequatur rem consectetur facere, ipsum earum voluptas, porro
					minus veritatis excepturi expedita eaque aliquam assumenda! Cum, ducimus est! Lorem ipsum
					dolor sit, amet consectetur adipisicing elit. Eos, repellendus esse nisi consequatur rem
					consectetur facere, ipsum earum voluptas, porro minus veritatis excepturi expedita eaque
					aliquam assumenda! Cum, ducimus est!
				</p>
			</div>
		</main>
		<footer id="pelatihan-footer">
			<div class="bab-before fledir-row">
				<div class="fa fa-chevron-left"></div>
				<h3>Kembali</h3>
			</div>
			<div class="bab-title fledir-row">
				<h2>Bab 1</h2>
			</div>
			<div class="bab-after fledir-row">
				<h3>Sub bab 2</h3>
				<div class="fa fa-chevron-right"></div>
			</div>
		</footer>
	</body>
	<script type="text/javascript" src="../../assets/js/script.js"></script>
</html>
