<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REGISTER</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <script type="text/javascript" src="../../assets/js/script.js"></script>
  </head>
  <body>
    <div id="register">
      <div class="container">
        <div class="wrapper-register">
          <img src="../../assets/images/halalin-logo.png" />
          <h1>Register</h1>
          <div class="field-register">
            <div class="name">
              <input
                type="username"
                class="fname-input"
                placeholder="Nama Depan"
              />
              <input
                type="username"
                class="lname-input"
                placeholder="Nama Belakang"
              />
            </div>
            <div class="phone">
              <input
                type="tel"
                pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}"
                required
                class="phone-input"
                placeholder="Nomor Telepon"
              />
            </div>
            <div class="email">
              <input type="email" class="email-input" placeholder="Email" />
            </div>
            <div class="password">
              <input
                type="password"
                class="pass-input"
                placeholder="password"
              />
            </div>
            <div class="password">
              <input
                type="password"
                class="confirmpass-input"
                placeholder="Konfirmasi password"
              />
            </div>
          </div>
          <button onclick="register()" class="daftar-btn">Daftar</button>
        </div>
      </div>
    </div>
  </body>
</html>
