<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="pelatihan.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Pelatihan</title>
  </head>
  <body>
    <header id="header-soal">
      <div id="header-container">
        <h1 style="padding: 0; margin: 0">Pelatihan Pra-nikah</h1>
        <div>
          <a href="#" class="button">Kumpulkan</a>
        </div>
      </div>
    </header>
    <main id="page-soal">
      <div class="box">
        <div id="side-soal-container">
          <aside class="side-soal">
            <div class="number-soal">
              <h1>Soal</h1>
            </div>
            <div id="number-container">
              <div class="number-box" onclick="selectNumber(this)">1</div>
              <div class="number-box" onclick="selectNumber(this)">2</div>
              <div class="number-box" onclick="selectNumber(this)">3</div>
              <div class="number-box" onclick="selectNumber(this)">4</div>
              <div class="number-box" onclick="selectNumber(this)">5</div>
            </div>
          </aside>
          <div id="open-soal" onclick="openSoal()" style="color: #4b5c98">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
        </div>
        <div class="wrapper-soal">
          <div class="soal">
            <div id="soal-container">
              <h1>Soal 1</h1>
              <p style="font-size: 18px">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
                eveniet blanditiis ut pariatur aliquam alias veritatis quos
                doloribus natus, qui omnis nihil quo voluptatum aspernatur cum
                incidunt numquam quasi voluptatem!
              </p>
            </div>
            <div class="choice-container">
              <div class="choice">
                <p class="choice-prefix" onclick="selectChoice(this)">A</p>
                <p class="choice-text" onclick="selectChoice(this)">
                  Pilihan A
                </p>
              </div>
              <div class="choice">
                <p class="choice-prefix" onclick="selectChoice(this)">B</p>
                <p class="choice-text" onclick="selectChoice(this)">
                  Pilihan B
                </p>
              </div>
              <div class="choice">
                <p class="choice-prefix" onclick="selectChoice(this)">C</p>
                <p class="choice-text" onclick="selectChoice(this)">
                  Pilihan C
                </p>
              </div>
              <div class="choice">
                <p class="choice-prefix" onclick="selectChoice(this)">D</p>
                <p class="choice-text" onclick="selectChoice(this)">
                  Pilihan D
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="../../assets/js/script.js"></script>
  </body>
</html>
